# Credential data
modules/credential.json
# Playground jupyter notebook
esgTwitterPost_playground.ipynb
# folder
__pycache__/
.ipynb_checkpoints/

# keep the empty folder
finetune_model_latest_twitterbot/*

*.log